In [8]:
my_list = [2, 3, 6]

result= 1

for i in my_list :
    result= result * i
    
print(result)

36

In [37]:
a=[(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]

def mylist(a):
    
    return a[-1]

sorted([(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)], key= mylist)

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [48]:
dict1 = {'a': 100, 'b': 200, 'c':300}
dict2 = {'a': 300, 'b': 200, 'd':400}
dict3 = {} 

for x in dict1:
    
    if x in dict2: 
        dict3[x] = dict1[x] +dict2[x]
    else: 
        dict3[x] = dict1[x]
        

for x in dict2:
    if x not in dict1:
        dict3[x] = dict2[x]
        
print(dict3)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [62]:
n=int(input("enter a number "))

d = dict()

for x in range(1,n+1):
    
    d[x]=x*x

print(d)

enter a number 8
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64}

In [67]:
tup =  [('item1', '12.20'), ('item2', '15.10'), ('item3', '24.5')] 

x = tuple(sorted(tup, reverse=True))  

print(x)

(('item3', '24.5'), ('item2', '15.10'), ('item1', '12.20'))